body {
  background-color: mediumpurple;

  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-body {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
}

.search-form-input {
  background-color: rgb(237, 231, 231);
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  border: 1px solid;
  width: 80%;
}

.search-form-button {
  background-color: rgb(78, 5, 248);
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  border: none;
}

a {
  color: rgb(78, 5, 248);
}

.weather-data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

main {
  padding-top: 30px 0;
}

.weather-city {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}

.weather-details {
  font-size: 15px;
  line-height: 20px;
}

.weather-details strong {
  color: rgb(199, 12, 75);
}

.temp {
  display: flex;
  margin-top: 22px;
}

.temp-icon {
  width: 60px;
  height: 60px;
}

.temp-value {
  font-weight: bold;
  font-size: 50px;
}

.temp-unit {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}

.weather-forecast {
  display: flex;

  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0;
}
.weather-forecast-temps {
  text-align: center;
  color: #ff2d6c;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temp {
  padding: 0 10px;
}

footer {
  border-top: 1px solid rgb(253, 248, 248);
  padding: 30px 0 0 0;
  text-align: center;
}
