body {
  background-color: mediumpurple;

  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-body {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
}
